{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>

{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
<a href="footer.html">Footer</a>
{% for x in members reversed %}
    <h1>{{ x.id }}</h1>
    <p>
        {{ x.firstname }}
        {{ x.lastname }}
    </p>
{% endfor %}

{% for x in cars %}
    <h1>{{ x.brand }}</h1>
    <p>{{ x.model }}</p>
    <p>{{ x.year }}</p>
{% endfor %} 


<p>In views.py you can see what the greeting variable looks like.</p>


{% if greeting == 1 and day == "Friday" or greeting == 5 %}
    <h1>Hello Weekend!</h1>
{% endif %} 

<table border='1'>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone no.</th>
    </tr>
    {% for x in mymembers %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
        <td>{{ x.phone}}</td>
    </tr>
    {% endfor %}
</table>

<h1>Hello</h1>

<p>This page contains a footer in a template.</p>

{% include 'footer.html' %} 

<p>Check out the two templates to see what they look like, and views.py to see the reference to the child template.</p>

</body>
</html>     